h1, h2, p{
    text-align: center;
}

#bigbox{
    width: 80%;
    height: 200px;
    margin: auto auto;
    background-color: palevioletred;
    border: 3px solid black;
    border-spacing: 30px;
    display: table;
}

.sidebox, .middlebox{
    display: table-cell;
    background-color: green;
    border: 3px solid black;
}